{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <h1> Novo contato </h1>
        </div>

        <div class="col-xs-12 col-sm-3 ">

        </div>

        {% include 'messages.html' %}

        <div class="col-xs-12 col-sm-12 ">

        {% include 'contato_form.html' with{'is_set':true} %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
$('.add_email').click(function(){
    var table = $('.table_email');
    var tr = $('<tr></tr>');

    var input = $('<input></input>').attr('name','email[]');
    var td = $('<td></td>');
    input.appendTo(td);
    td.appendTo(tr);

    var select = $('<select></select>').attr('name','emailTipo[]')
    var option = $('<option> - </option>');
    option.appendTo(select);
    {% for tipo in emailTipo %}
        var option = $('<option></option>').attr('value','{{tipo.id_contato_telefone_tipo}}').html('{{tipo.nome}}');
        option.appendTo(select);
    {% endfor %}
    var td = $('<td></td>');
    select.appendTo(td);
    td.appendTo(tr);

    tr.appendTo(table);
});
$('.add_telefone').click(function(){
    var table = $('.table_telefone');
    var tr = $('<tr></tr>');

    var input = $('<input></input>').attr('name','telefone[]');
    var td = $('<td></td>');
    input.appendTo(td);
    td.appendTo(tr);

    var select = $('<select></select>').attr('name','telefoneTipo[]')
    var option = $('<option> - </option>');
    option.appendTo(select);
    {% for tipo in telefoneTipo %}
        var option = $('<option></option>').attr('value','{{tipo.id_contato_telefone_tipo}}').html('{{tipo.nome}}');
        option.appendTo(select);
    {% endfor %}
    var td = $('<td></td>');
    select.appendTo(td);
    td.appendTo(tr);

    tr.appendTo(table);
});
</script>
{% endblock %}
