{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1> Bem Vindo </h1>
        </div>


        {% include 'messages.html' %}

        <div class="col-xs-12 col-sm-12 ">
            <p>Este é o sistema de gerenciamento de contatos, gerencie os emails e os telefones de forma simples.</p>
            <p><a class="btn btn-default" href="{{url}}/contato/lista">Ir para o sistema</a></p>
        </div>
    </div>
</div>
{% endblock %}
